@(elemId: String, addTags: Boolean)
<script>
$("#@elemId").select2({
    debug: true,
    placeholder: "Find Ingredient...",
    minimumInputLength: 3,
    ajax: { // See... https://select2.github.io/examples.html#data-ajax
        @if( addTags == true) {
    	url: "/search/partialTags",
        } else {
        	url: "/search/partial",
        }
        dataType: 'jsonp',
        data: function (params) {
            return { q: params.term, count: 10 };
        },
        processResults: function (data, page) { // parse the results into the format expected by Select2.
            return {results: data};
        },
        cache: true
    },
    templateResult: doFormatResult,
    templateSelection: doFormatSelection,
    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
});

function doFormatResult(inRec) {
	/* if (inRec.type === 'item') ... */
	return inRec.displayName;
}

function doFormatSelection(inRec) {
    if (inRec.text) {  // E.g. the initial placeholder, or selected value
        return inRec.text;
    }

    return inRec.displayName;  // FIXME What is this?
}
</script>