@(recipe: uk.co.recipes.api.IRecipe, index: Int, currUser: uk.co.recipes.api.IUser, cuisineColours: uk.co.recipes.ui.CuisineColours)
<div class="panel panel-default">
 	<div class="panel-heading"><span title="@com.google.common.base.Objects.firstNonNull( recipe.getTags().get( uk.co.recipes.tags.RecipeTags.RECIPE_CUISINE ), "Unknown") cuisine" style="background-color: @cuisineColours.colourForRecipe(recipe); padding: 0 8px 0 8px; margin-right: 6px; border-radius: 8px"></span> <a href="/recipes/@recipe.getTitle()">@recipe.getTitle()</a><!-- @_forkRecipeDisplay( recipe, "btn-xs pull-right") -->@_faveRecipeDisplay( recipe, currUser, "btn-xs pull-right")&nbsp;<a id="toggle_@index" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></a></div>
 	<div class="panel-body" style="display: none" id="ingredients_@index"><ol>
@for(ingr <- recipe.getSortedIngredients()) {
<li><a href="/items/@ingr.getItem().getCanonicalName()">@ingr.getItem().getCanonicalName()</a> @if(ingr.isOptional()) {<span style="color:#AAA; margin-left:5px">(optional)</span> }&nbsp;@for(tagName <- ingr.getItem().getTagNamesForDisplay()){<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span> }</li>
}
  		</ol>
  	</div>
</div>
