@(currentUser: uk.co.recipes.api.IUser)

@main("Create Recipe") {

	@_explorerHeader()

	<section id="top">
	    <div class="wrapper">
	        <h1>Recipe Creator</h1>
	    </div>
	</section>

	<p>Hello</p>

	<div><input type="hidden" style="width: 250px" id="addIngredient" /><button type="button" style="margin-left: 12px" class="btn btn-default" onclick="createAddIngredient($('#addIngredient'))"><span class="glyphicon glyphicon-plus"></span> Add Ingredient</button></div>

	@_addIngredientPicker()
}