@(currentUser: uk.co.recipes.api.IUser, recipe: uk.co.recipes.api.IRecipe, recommendedRecipes: List[uk.co.recipes.api.IRecipe], cuisineColours: uk.co.recipes.ui.CuisineColours)

@main("Create Recipe") {

	@_explorerHeader()

	<section id="top">
	    <div class="wrapper">
	        <h1>Recipe Creator</h1>
	    </div>
	</section>

	<p>Hello</p>

	<div><input type="hidden" style="width: 250px" id="addIngredient" /><button type="button" style="margin-left: 12px" class="btn btn-default" onclick="createAddIngredient($('#addIngredient'))"><span class="glyphicon glyphicon-plus"></span> Add Ingredient</button></div>
	<div><button type="button" class="btn btn-default" onclick="cancelCreate()"><span class="glyphicon glyphicon-trash"></span> Cancel</button></div>

	<hr />


	<div class="row" style="padding-top: 20px">
	  <div class="col-md-3">

		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		          Ingredients:
		        </a>
		      </h4>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
				<ul class="list-group">
				@for(ingr <- recipe.getSortedIngredients()) {
				<li class="list-group-item"><a href="/items/@ingr.getItem().getCanonicalName()">@ingr.getItem().getCanonicalName()</a>&nbsp;@if(ingr.isOptional()) { <span>(optional)</span>&nbsp;}@for(tagName <- ingr.getItem().getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}<button type="button" class="btn btn-xs btn-danger" style="margin-left: 10px" title="Remove Ingredient" onclick="document.location.href='/recipes/create/@ingr.getItem().getCanonicalName()/remove'; return false"><span class="glyphicon glyphicon-remove"></span></button></li>
				}
				</ul>

				<div><button type="button" class="btn btn-default" onclick="clearAllIngredients()"><span class="glyphicon glyphicon-remove"></span> Clear All</button></div>
		      </div>
		    </div>
		  </div>
		</div>

	  </div>
	  <div class="col-md-9">
		@if( recommendedRecipes.size() == 0) {
			<p>Sorry, no Similar recipes could be found</p>
		} else {
			<div class="container">
			<h3>Similar Recipes:</h3>
			@for(( eachRecipe, index) <- recommendedRecipes.zipWithIndex) {
			
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
	
			<div class="col-md-4">
				@_displayRecipe( eachRecipe, index, currentUser, cuisineColours)
			</div>  <!-- <div class="col-md-4"> -->
			
			<script>
			$('#toggle_@index').click(function() {
			  $('#ingredients_@index').slideToggle(function() {
			    // Should toggle chevron
			  });
			});
			</script>
			
			}
			
			</div>  <!-- <div class="row"> -->
			</div>  <!-- <div class="container"> -->
		}
	  </div>  <!-- <div class="col-md-9"> -->
	</div>  <!-- <div class="row"> -->

<br/>
	@if( currentUser != null) {
	<button type="button" class="btn btn-primary btn-lg" onclick="createNewRecipe()"><span class="glyphicon glyphicon-ok"></span> Create Recipe</button>
	} else {
	<button type="button" class="btn btn-warning btn-lg" disabled="disabled"><span class="glyphicon glyphicon-ban-circle"></span> Please log in to Create Recipe</button>
	}

	<script src="@routes.Assets.at("javascripts/select2.min.js")" type="text/javascript"></script>
	@_addIngredientPicker("addIngredient", false)
}