@(item: uk.co.recipes.api.ICanonicalItem, similarities: List[uk.co.recipes.api.ICanonicalItem], recommendedRecipes: List[uk.co.recipes.api.IRecipe], hasGoodRecommendations: Boolean)

@main("Item: " + item.getCanonicalName() ) {

	@_explorerHeader()

	<section id="top">
		<div class="btn-group pull-right">
		  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
		    Your Rating
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="/items/@item.getCanonicalName()/rate/1">1/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/2">2/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/3">3/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/4">4/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/5">5/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/6">6/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/7">7/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/8">8/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/9">9/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/10">10/10</a></li>
		  </ul>
		</div>
	    <div class="wrapper">
	        <h1>@item.getCanonicalName() <span style="padding-left: 30px">@for(tagName <- item.getTagNamesForDisplay()){ <span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</span></h1>
	    </div>
	</section>

	  <div id="item-ext-img-ctr" class="pull-right" style="margin-top: 10px; display: none">
	    <div class="thumbnail">
	      <img id="item-ext-img" src="" alt="Picture of @item.getCanonicalName()">
	    </div>
	  </div>

	<div id="item-ext-text-ctr" class="well" style="margin-top: 20px"><p id="item-ext-text" style="">No extra information available</p><p style="margin-bottom: 0"><small><span id="item-ext-text2" style="display: none"></span>  <a id="item-ext-url" href="">More on Wikipedia</a></small></p></div>

	<div class="container" style="padding-top: 20px">
	@if( recommendedRecipes.size() == 0) {
		<p>Please log in / Sorry, no matching recipes could be found</p>
	} else {
		<h3>Recommended Recipes containing @item.getCanonicalName():</h3>
		@for(( eachRecipe, index) <- recommendedRecipes.zipWithIndex) {
		
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}

		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
		
		}
		
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	<div class="container">
	<h3>Similar Items:</h3>
	@if( similarities.size() == 0) {
		<p>Sorry, no similar items could be found. Try relaxing any filters.</p>
	} else {
		@for(( eachItem, index) <- similarities.zipWithIndex) {
	
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}
	
		<div class="col-md-4">@_itemWell(eachItem)</div>
		}
	
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	<script>
    $.get("/items/" + encodeURIComponent('@item.getCanonicalName()') + '/ext')
    .error( function(xhr) { /* Anything? */ } )
    .success( function(obj) {
        try {
        	$('#item-ext-text').text(obj.text);
        	$('#item-ext-text2').text(obj.secondaryText);
        	$('#item-ext-img').attr('src', obj.imgUrl);
        	$('#item-ext-url').attr('href', obj.url);
        	$('#item-ext-img-ctr').show();
        	$('#item-ext-text2').show();
        	// $('#item-ext-text-ctr').show();
        } catch (e) { /* Just ignore */ }
    });
	</script>
}