@(item: uk.co.recipes.api.ICanonicalItem, similarities: List[uk.co.recipes.api.ICanonicalItem], recommendedRecipes: List[uk.co.recipes.api.IRecipe])

@main("Item: " + item.getCanonicalName() ) {

	<!-- Explorer Filter Stuff starts -->
	<div class="btn-group">
	  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
	    Must Include
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		@for( eachTag <- controllers.Application.allTags().iterator) {<li><a href="#" onclick="addInclTag('@eachTag')">@eachTag</a></li>}
	  </ul>
	</div>
	<div class="btn-group">
	  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
	    Must Exclude
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		@for( eachTag <- controllers.Application.allTags().iterator) {<li><a href="#" onclick="addExclTag('@eachTag')">@eachTag</a></li>}
	  </ul>
	</div>
	<button class="btn btn-danger" type="button" onclick="clearFilters()">Clear All</button>

<script>
function addInclTag(inTag) {
    $.post("/user/filter/inc/addTag=" + inTag, function(data) { location.reload(false); });
}
function addExclTag(inTag) {
    $.post("/user/filter/exc/addTag=" + inTag, function(data) { location.reload(false); });
}
function clearFilters() {
    $.post("/user/filter/clearAll", function(data) { location.reload(false); });
}</script>
	<!-- Explorer Filter Stuff ends -->

	<hr />

	<section id="top">
		<div class="btn-group pull-right">
		  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
		    Your Rating
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="/items/@item.getCanonicalName()/rate/1">1/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/2">2/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/3">3/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/4">4/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/5">5/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/6">6/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/7">7/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/8">8/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/9">9/10</a></li>
		    <li><a href="/items/@item.getCanonicalName()/rate/10">10/10</a></li>
		  </ul>
		</div>
	    <div class="wrapper">
	        <h1>@item.getCanonicalName() <span style="padding-left: 30px">@for(tagName <- item.getTagNamesForDisplay()){ <span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</span></h1>
	    </div>
	</section>

	<hr />

	<div class="container" style="padding-top: 20px">
	@if( recommendedRecipes.size() == 0) {
		<p>Please log in / Sorry, no matching recipes could be found</p>
	} else {
		<h3>Recommended Recipes containing @item.getCanonicalName():</h3>
		@for(( eachRecipe, index) <- recommendedRecipes.zipWithIndex) {
		
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}

		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
		
		}
		
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	<div class="container">
	<h3>Similar Items:</h3>
	@if( similarities.size() == 0) {
		<p>Sorry, no similar items could be found. Try relaxing any filters.</p>
	} else {
		@for(( eachItem, index) <- similarities.zipWithIndex) {
	
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}
	
		<div class="col-md-4">@_itemWell(eachItem)</div>
		}
	
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->
}