@(item: uk.co.recipes.api.ICanonicalItem, similarities: List[uk.co.recipes.api.ICanonicalItem])

@main("Item: " + item.getCanonicalName() ) {
	<section id="top">
	    <div class="wrapper">
	        <h1>@item.getCanonicalName()</h1>
	    </div>
	</section>
	
	<p>@for(tagName <- item.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</p>
	
	<div class="btn-group">
	  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
	    Your Rating
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><a href="/items/@item.getCanonicalName()/rate/1">1/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/2">2/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/3">3/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/4">4/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/5">5/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/6">6/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/7">7/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/8">8/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/9">9/10</a></li>
	    <li><a href="/items/@item.getCanonicalName()/rate/10">10/10</a></li>
	  </ul>
	</div>
	
	<hr />

	<!-- Explorer Filter Stuff starts -->
	<div class="btn-group">
	  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
	    Must Include
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		@for( eachTag <- controllers.Application.allTags().iterator) {<li><a href="#" onclick="addInclTag('@eachTag')">@eachTag</a></li>}
	  </ul>
	</div>
	<div class="btn-group">
	  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
	    Must Exclude
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		@for( eachTag <- controllers.Application.allTags().iterator) {<li><a href="#" onclick="addExclTag('@eachTag')">@eachTag</a></li>}
	  </ul>
	</div>
	<button class="btn btn-danger" type="button" onclick="clearFilters()">Clear All</button>

<script>
function addInclTag(inTag) {
    $.post("/user/filter/inc/addTag=" + inTag, function(data) { location.reload(false); });
}
function addExclTag(inTag) {
    $.post("/user/filter/exc/addTag=" + inTag, function(data) { location.reload(false); });
}
function clearFilters() {
    $.post("/user/filter/clearAll", function(data) { location.reload(false); });
}</script>
	<!-- Explorer Filter Stuff ends -->

	<hr />
	<h3>Similar Items:</h3>
	
	<ul class="list-group">
	@for( eachItem <- similarities) {
	  <li class="list-group-item"><a href="http://localhost:9000/items/@eachItem.getCanonicalName()">@eachItem.getCanonicalName()</a>&nbsp;@for(tagName <- eachItem.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</li>  <!-- Parent stuff -->
	}
	</ul>
}