@import service.UserProvider

@(recipe: uk.co.recipes.api.IRecipe, currUser: uk.co.recipes.api.IUser, similarities: List[uk.co.recipes.api.IRecipe],
  recommendedItems: List[uk.co.recipes.api.ICanonicalItem], explorerFilters: uk.co.recipes.service.api.IExplorerFilterDef,
  cuisineColours: uk.co.recipes.ui.CuisineColours, cuisineName: String, cuisineColour: String,
  recipeCategoriesActivationMap: Map[String,Boolean], dietTypesActivationMap: Map[String,Boolean],
  playAuth: com.feth.play.module.pa.PlayAuthenticate, users: UserProvider)

@main("Recipe: " + recipe.getTitle(), playAuth, users) {

	@_explorerHeader()

	<section id="top">
		<div class="btn-group pull-right">
		  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
		    Your Rating
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="/recipes/@recipe.getTitle()/rate/1">1/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/2">2/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/3">3/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/4">4/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/5">5/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/6">6/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/7">7/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/8">8/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/9">9/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/10">10/10</a></li>
		  </ul>
		</div>
	    <div class="wrapper">
	        <h1><span title="@cuisineName Cuisine" style="background-color: @cuisineColours.colourForRecipe(recipe); padding: 0 22px 0 22px; margin-right: 8px; border-radius: 22px"></span> @recipe.getTitle()&nbsp;<!-- <span class="label label-warning">@recipe.getLocale()</span> -->@_forkRecipeDisplay( recipe, "btn-lg") @_faveRecipeDisplay( recipe, currUser, "btn-lg")</h1>
	    </div>
	</section>
	
	@if( recipe.getForkDetails() != null) {
	<p>@recipe.getForkDetails()</p>
	}

	<hr />

	<div class="container" style="padding-top: 7px">

		<ul id="sectionsTabs" class="nav nav-tabs">
			<li class="active lead"><a href="#follow" onclick="setUiOpt('recipes.mainSection','follow')"><span class="glyphicon glyphicon-cutlery"></span> <strong>Follow Recipe</strong></a></li>
			<li class="lead"><a href="#explore" onclick="setUiOpt('recipes.mainSection','explore')"><span class="glyphicon glyphicon-search"></span> <strong>Explore Variations</strong></a></li>
		</ul>
	 	<div id="sections-tab-content" class="tab-content" style="margin-top: 24px">
			<div class="tab-pane active" id="follow">
	@_recipeFollowSection(recipe)
			</div>
			<div class="tab-pane" id="explore">
	@_recipeExploreSection(recipe, similarities, currUser, recommendedItems, explorerFilters, dietTypesActivationMap, recipeCategoriesActivationMap, cuisineColours)
			</div>
		</div>

	</div>  <!-- <div class="row"> -->

	<script src="@routes.Assets.at("javascripts/jquery.cookie.js")" type="text/javascript"></script>
	<script>
	  switch (uiOpts().recipes.similarTabSel) {
	    case 'recipes':
		  $('#recipesTabs li:eq(0) a').tab('show')
		  break;
	    case 'items':
		  $('#recipesTabs li:eq(1) a').tab('show')
		  break;
	  }

	  switch (uiOpts().recipes.mainSection) {
	    case 'follow':
		  $('#sectionsTabs li:eq(0) a').tab('show')
		  break;
	    case 'explore':
		  $('#sectionsTabs li:eq(1) a').tab('show')
		  break;
	  }
	</script>

	<script src="@routes.Assets.at("javascripts/select2.min.js")" type="text/javascript"></script>
	@_addIngredientPicker("addIngredient", false)
	@_addIngredientPicker("sidebar-incl-pickItemTag", true)
	@_addIngredientPicker("sidebar-excl-pickItemTag", true)

<script type="text/javascript">
	$('#sectionsTabs a').click( function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
	$('#recipesTabs a').click( function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
</script>    
}