@(recipe: uk.co.recipes.api.IRecipe, title: String)

@main("Recipe page") {
}
<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<style>body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }</style>
    </head>

    <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="index.jsp">Recipes 2013</a>
			<ul class="nav">
				<li class="active"><a href="index.jsp">Home</a></li>
			</ul>
			<form action="test.html" class="navbar-search pull-right">
			  <input type="text" name="input" class="search-query" placeholder="Search..." />
			</form>
		</div>
	</div>
	</div>

<section id="top">
    <div class="wrapper">
        <h1>@title</h1>
    </div>
</section>

<p>@recipe</p>

</body>
</html>