@(recipe: uk.co.recipes.api.IRecipe, currUser: uk.co.recipes.api.IUser, categorisation: com.google.common.collect.Multiset[uk.co.recipes.api.ITag], similarities: List[uk.co.recipes.api.IRecipe], recommendedItems: List[uk.co.recipes.api.ICanonicalItem])

@main("Recipe: " + recipe.getTitle() ) {

	@_explorerHeader()

	<section id="top">
		<div class="btn-group pull-right">
		  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
		    Your Rating
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="/recipes/@recipe.getTitle()/rate/1">1/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/2">2/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/3">3/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/4">4/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/5">5/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/6">6/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/7">7/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/8">8/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/9">9/10</a></li>
		    <li><a href="/recipes/@recipe.getTitle()/rate/10">10/10</a></li>
		  </ul>
		</div>
	    <div class="wrapper">
	        <h1><!-- <span>@recipe.getId()</span>&nbsp; -->@recipe.getTitle()&nbsp;<!-- <span class="label label-warning">@recipe.getLocale()</span> -->@_forkRecipeDisplay( recipe, "btn-lg") @_faveRecipeDisplay( recipe, currUser, "btn-lg")</h1>
	    </div>
	</section>
	
	@if( recipe.getForkDetails() != null) {
	<p>@recipe.getForkDetails()</p>
	}

	<div class="row" style="padding-top: 20px">
	  <div class="col-md-3">

		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		          Ingredients:
		        </a>
		      </h4>
		    </div>
		    <div id="collapse1" class="panel-collapse collapse in">
		      <div class="panel-body">
				<ul class="list-group">
				@for(ingr <- recipe.getSortedIngredients()) {
				<li class="list-group-item"><a href="http://localhost:9000/items/@ingr.getItem().getCanonicalName()">@ingr.getItem().getCanonicalName()</a>&nbsp;@if(ingr.isOptional()) { <span>(optional)</span>&nbsp;}@for(tagName <- ingr.getItem().getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}&nbsp;<a href="/recipes/@recipe.getTitle()/@ingr.getItem().getCanonicalName()/remove">[x]</a></li>
				}
				</ul>

				<div><input type="hidden" style="width: 250px" id="addIngredient" /><button type="button" style="margin-left: 12px" class="btn btn-default" onclick="addIngredient('@recipe.getTitle()',$('#addIngredient'))"><span class="glyphicon glyphicon-plus"></span> Add Ingredient</button></div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		          Categories:
		        </a>
		      </h4>
		    </div>
		    <div id="collapse2" class="panel-collapse collapse">
		      <div class="panel-body">
				@categorisation
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		          Details:
		        </a>
		      </h4>
		    </div>
		    <div id="collapse3" class="panel-collapse collapse">
		      <div class="panel-body">
				Created by <a href="http://localhost:9000/users/@recipe.getCreator().getUserName()">@recipe.getCreator().getDisplayName()</a> on @org.joda.time.format.DateTimeFormat.forPattern("dd MMMM yyyy 'at' HH:mm").withLocale( Locale.UK ).print( recipe.getCreationTime() )
		      </div>
		    </div>
		  </div>
		</div>

	  </div>
	  <div class="col-md-9">
		@if( recommendedItems.size() == 0) {
			<p>Sorry, no Ingredient suggestions</p>
		} else {
			<div class="container">
			<h3 style="margin-top: 0">Why not add?</h3>
			@for(( eachItem, index) <- recommendedItems.zipWithIndex) {
	
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
	
			<div class="col-md-4">@_itemWell(eachItem)</div>
			}

			</div>  <!-- <div class="row"> -->
			</div>  <!-- <div class="container"> -->
		}

		@if( similarities.size() == 0) {
			<p>Sorry, no Similar recipes could be found</p>
		} else {
			<div class="container">
			<h3>Similar Recipes:</h3>
			@for(( eachRecipe, index) <- similarities.zipWithIndex) {
			
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
	
			<div class="col-md-4">
				@_displayRecipe( eachRecipe, index, currUser)
			</div>  <!-- <div class="col-md-4"> -->
			
			<script>
			$('#toggle_@index').click(function() {
			  $('#ingredients_@index').slideToggle(function() {
			    // Should toggle chevron
			  });
			});
			</script>
			
			}
			
			</div>  <!-- <div class="row"> -->
			</div>  <!-- <div class="container"> -->
		}
	  </div>  <!-- <div class="col-md-9"> -->
	</div>  <!-- <div class="row"> -->

	@_addIngredientPicker()
}