@(searchQuery: String, foundRecipes: List[uk.co.recipes.api.IRecipe], foundItems: List[uk.co.recipes.api.ICanonicalItem])

@main("Search Results: " + searchQuery) {
	<section id="top">
	    <div class="wrapper">
	        <h1>Search Results</h1>
	    </div>
	</section>
	
	<p>Recipes:</p>
	<ol>
	@for( eachRecipe <- foundRecipes) {
	  <li><a href="/recipes/@eachRecipe.getTitle()">@eachRecipe.getTitle()</a> <a href="/recipes/@eachRecipe.getTitle()/fork">[F]</a></li>
	}
	</ol>
	
	<p>Items:</p>
	<ol>
	@for(item <- foundItems) {
	  <li><a href="/items/@item.getCanonicalName()">@item.getCanonicalName()</a>&nbsp;@for(tagName <- item.getTagNamesForDisplay()){&nbsp;<span class="label label-info"><a href="/tags/@tagName">@tagName</a></span>}</li>
	}
	</ol>
}