@(searchQuery: String, foundRecipes: List[uk.co.recipes.api.IRecipe], foundTags: List[uk.co.recipes.api.ITag], foundItems: List[uk.co.recipes.api.ICanonicalItem])

@main("Search Results: " + searchQuery) {
	<section id="top">
	    <div class="wrapper">
	        <h1>Search Results</h1>
	    </div>
	</section>
	
	<p>Recipes:</p>
	<ol>
	@for( eachRecipe <- foundRecipes) {
	  <li><a href="/recipes/@eachRecipe.getTitle()">@eachRecipe.getTitle()</a> <a onclick="getForkName('@eachRecipe.getTitle()')" href="#">[F]</a></li>
	}
	</ol>

	<p>Tags:</p>
	<ol>
	@for(eachTag <- foundTags) {
	  <li><span class="label @uk.co.recipes.tags.TagUtils.getStyle(eachTag)"><a href="/tags/@eachTag.toString()">@uk.co.recipes.tags.TagUtils.formatTagName(eachTag)</a></span></li>
	}
	</ol>

	<p>Items:</p>
	<ol>
	@for(item <- foundItems) {
	  <li><a href="/items/@item.getCanonicalName()">@item.getCanonicalName()</a>&nbsp;@for(tagName <- item.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</li>
	}
	</ol>
}