@(searchQuery: String, currUser: uk.co.recipes.api.IUser, foundRecipes: List[uk.co.recipes.api.IRecipe], foundTags: List[uk.co.recipes.api.ITag], foundItems: List[uk.co.recipes.api.ICanonicalItem])

@main("Search Results: " + searchQuery) {
	<section id="top">
	    <div class="wrapper">
	        <h1>Search Results</h1>
	    </div>
	</section>

	<ul id="searchResults" class="nav nav-tabs">
		<li class="active"><a href="#recipes">Recipes (@foundRecipes.size())</a></li>
		<li><a href="#items">Ingredients (@foundItems.size())</a></li>
		<li><a href="#tags">Tags (@foundTags.size())</a></li>
	</ul>
    <div id="my-tab-content" class="tab-content" style="margin-top: 16px">
        <div class="tab-pane active" id="recipes">
			<ol>
			@for( eachRecipe <- foundRecipes) {
			  <li><a href="/recipes/@eachRecipe.getTitle()">@eachRecipe.getTitle()</a>&nbsp;&nbsp;@_forkRecipeDisplay( eachRecipe, "btn-xs") @_faveRecipeDisplay( eachRecipe, currUser, "btn-xs")</li>
			}
			</ol>
        </div>
        <div class="tab-pane" id="items">
			<ol>
			@for(item <- foundItems) {
			  <li><a href="/items/@item.getCanonicalName()">@item.getCanonicalName()</a>&nbsp;@for(tagName <- item.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</li>
			}
			</ol>
        </div>
        <div class="tab-pane" id="tags">
			<ol>
			@for(eachTag <- foundTags) {
			  <li><span class="label @uk.co.recipes.tags.TagUtils.getStyle(eachTag)"><a href="/tags/@eachTag.toString()">@uk.co.recipes.tags.TagUtils.formatTagName(eachTag)</a></span></li>
			}
			</ol>
        </div>
    </div>

<script type="text/javascript">
	$('#searchResults a').click( function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
</script>    
}