@import service.UserProvider

@(metrics: String, itemsCount: Long, recipesCount: Long, usersCount: Long, cacheStats: com.google.common.cache.CacheStats,
  myrrixUsersCount: Integer, myrrixItemsCount: Integer,
  playAuth: com.feth.play.module.pa.PlayAuthenticate, users: UserProvider)

@main("Statistics", playAuth, users) {
	<section id="top">
	    <div class="wrapper">
	        <h1>Statistics</h1>
	    </div>
	</section>
	
	<p><button type="button" class="btn btn-default" onclick="$.post('/app/clearAll', function(data) { location.reload(false); });"><span class="glyphicon glyphicon-remove"></span> Clear All</button>
	<button type="button" class="btn btn-default" onclick="$.post('/app/load/loadBBCGF', function(data) { location.reload(false); });">Load BBC Good Food</button>
	<button type="button" class="btn btn-default" onclick="$.post('/app/load/loadCurry', function(data) { location.reload(false); });">Load CurryFrenzy</button></p>
	
	<p>ES Items: <span class="badge label-default">@itemsCount</span></p>
	<p>ES Recipes: <span class="badge">@recipesCount</span></p>
	<p>ES Users: <span class="badge">@usersCount</span></p>
	<!-- <p>Ratings: <span class="badge">-</span></p> -->
	<p>Myrrix Items: <span class="badge">@myrrixItemsCount</span></p>
	<p>Myrrix Users: <span class="badge">@myrrixUsersCount</span> (almost certainly wrong - <a href="http://localhost:8080/">check here</a>)</p>
	<pre>@cacheStats</pre>
	
	<hr />
	<h3>Metrics</h3>
	<pre style="color:#933">@metrics</pre>
}