@(metrics: String, itemsCount: Long, recipesCount: Long, usersCount: Long, myrrixUsersCount: Integer, myrrixItemsCount: Integer)

@main("Statistics") {
	<section id="top">
	    <div class="wrapper">
	        <h1>Statistics</h1>
	    </div>
	</section>
	
	<p><em>If low, run RecipeExploreRecommendTest to install all Recipes and set up similarities</em></p>
	
	<p>ES Items: <span class="badge label-default">@itemsCount</span></p>
	<p>ES Recipes: <span class="badge">@recipesCount</span></p>
	<p>ES Users: <span class="badge">@usersCount</span></p>
	<p>Ratings: <span class="badge">-</span></p>
	<p>Myrrix Items: <span class="badge">@myrrixItemsCount</span></p>
	<p>Myrrix Users: <span class="badge">@myrrixUsersCount</span> (almost certainly wrong - <a href="http://localhost:8080/">check here</a>)</p>
	
	<hr />
	<h3>Metrics</h3>
	<pre style="color:#933">@metrics</pre>
}