@(tag: uk.co.recipes.api.ITag, matches: List[uk.co.recipes.api.ICanonicalItem])

@main("Tag: " + tag) {
	<section id="top">
	    <div class="wrapper">
	        <h1>@tag</h1>
	    </div>
	</section>
	
	<h3>Matching Items:</h3>
	<ul class="list-group">
	@for( eachItem <- matches) {
	  <li class="list-group-item"><a href="http://localhost:9000/items/@eachItem.getCanonicalName()">@eachItem.getCanonicalName()</a>&nbsp;@for(tagName <- eachItem.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</li>  <!-- Parent stuff -->
	}
	</ul>
}