@import service.UserProvider

@(currUser: uk.co.recipes.api.IUser, cuisineColours: uk.co.recipes.ui.CuisineColours,
  tag: uk.co.recipes.api.ITag, matches: List[uk.co.recipes.api.ICanonicalItem], matchingRecipes: List[uk.co.recipes.api.IRecipe],
  playAuth: com.feth.play.module.pa.PlayAuthenticate, users: UserProvider)

@main("Tag: " + tag, playAuth, users) {
	<section id="top">
	    <div class="wrapper">
	        <h1>@tag</h1>
	    </div>
	</section>
	<hr />

	<div class="container" style="padding-top: 5px">
	@if( matchingRecipes.size() == 0) {
		<p>Please log in / Sorry, no matching recipes could be found</p>
	} else {
		<h3>Selected Recipes with &#64;@tag:</h3>
		@for(( eachRecipe, index) <- matchingRecipes.zipWithIndex) {
		
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}

		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index, currUser, cuisineColours)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
		
		}
		
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	<div class="container">
	<h3>&#64;@tag ingredients:</h3>
	@if( matches.size() == 0) {
		<p>Sorry, no related ingredients could be found. Try relaxing any filters.</p>
	} else {
		@for(( eachItem, index) <- matches.zipWithIndex) {
	
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}
	
		<div class="col-md-4">@_itemWell(eachItem)</div>
		}
	
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->
}