@(user: uk.co.recipes.api.IUser, recommendedRecipes: List[uk.co.recipes.api.IRecipe], recommendedItems: List[uk.co.recipes.api.ICanonicalItem], cuisineColours: uk.co.recipes.ui.CuisineColours, gravatarUrl: String)

@import com.feth.play.module.pa.views.html._

@main("User page") {
	<section id="top">
	    <div class="wrapper">
	        <h1>@user.getDisplayName()</h1>
	    </div>
	</section>

	<div class="container">
		<h3>Favourite Ingredients:</h3>
		@if( user.getFaveItems().size() == 0) {
			<p>None yet</p>
		} else {
			<div class="container tab-pane" id="recIngredients">
			@for(( eachItem, index) <- user.getFaveItems().zipWithIndex) {
	
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
	
			<div class="col-md-6">@_itemWell(eachItem)</div>
			}
	
			</div>  <!-- <div class="row"> -->
			</div>  <!-- <div class="container"> -->
		}
	</div>

	<div class="container">
	@if( user.getFaveRecipes().size() == 0) {
		<p>Please log in / Sorry, no matching recipes could be found</p>
	} else {
		<h3>Favourite Recipes:</h3>
		@for(( eachRecipe, index) <- user.getFaveRecipes().zipWithIndex) {
		
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}

		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index, user, cuisineColours)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
		
		}
		
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	<p>Item Ratings: <span class="badge label-default">@user.getItemRatings().size()</span>&nbsp;: @user.getItemRatings()</p>
	<p>Recipe Ratings: <span class="badge label-default">@user.getRecipeRatings().size()</span>&nbsp;: @user.getRecipeRatings()</p>
	<button type="button" class="btn btn-sm btn-default" onclick="$.post('/users/ingest', function(data) { location.reload(false); });"><span class="glyphicon glyphicon-plus"></span> Load Recommendations...</button>
	<hr />

	<div><img src="@gravatarUrl" alt="" class="pull-left" /></div>

	<div class="container">
	  <div class="col-md-12">
		<div class="container">
		<h3>Recommended Recipes:</h3>
			
	@if( recommendedItems.size() == 0) {
		<p>Sorry, no recommended recipes could be found. Try relaxing any filters.</p>
	} else {
			@for(( eachRecipe, index) <- recommendedRecipes.zipWithIndex) {
			
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
			
		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index, user, cuisineColours)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
	}
				</div>  <!-- <div class="row"> -->
	
			}
			
	  </div>  <!-- <div class="container"> -->

	<div class="container">
	<h3>Recommended Ingredients:</h3>
	@if( recommendedItems.size() == 0) {
		<p>Sorry, no recommended ingredients could be found. Try relaxing any filters.</p>
	} else {
		@for(( eachItem, index) <- recommendedItems.zipWithIndex) {
	
		@if((index % 3) == 0) {
			@if( index >= 3) {
			  </div>  <!-- <div class="row"> -->
			}
		 <div class="row">
		}
	
		<div class="col-md-4">@_itemWell(eachItem)</div>
		}
	
		</div>  <!-- <div class="row"> -->
	}
	</div>  <!-- <div class="container"> -->

	</div>  <!-- <div class="col-md-12"> -->
	</div>  <!-- <div class="container"> -->
}