@(user: uk.co.recipes.api.IUser, recommendedRecipes: List[uk.co.recipes.api.IRecipe], recommendedItems: List[uk.co.recipes.api.ICanonicalItem], cuisineColours: uk.co.recipes.ui.CuisineColours)

@import com.feth.play.module.pa.views.html._

@main("User page") {
	<section id="top">
	    <div class="wrapper">
	        <h1>@user.getDisplayName()</h1>
	    </div>
	</section>

	<p>Item Ratings: <span class="badge label-default">@user.getItemRatings().size()</span>&nbsp;: @user.getItemRatings()</p>
	<p>Recipe Ratings: <span class="badge label-default">@user.getRecipeRatings().size()</span>&nbsp;: @user.getRecipeRatings()</p>
	<button type="button" style="margin-left: 12px" class="btn btn-sm btn-default" onclick="$.post('/users/ingest', function(data) { location.reload(false); });"><span class="glyphicon glyphicon-plus"></span> Load Recommendations...</button>
	<hr />

	<div class="row">
	  <div class="col-md-3">
			<h3>Recommended Items</h3>
			<ul class="list-group">
			@for( eachItem <- recommendedItems) {
			  <li class="list-group-item"><a href="http://localhost:9000/items/@eachItem.getCanonicalName()">@eachItem.getCanonicalName()</a>&nbsp;@for(tagName <- eachItem.getTagNamesForDisplay()){&nbsp;<span class="label @uk.co.recipes.tags.TagUtils.getStyle(tagName)"><a href="/tags/@tagName">@tagName</a></span>}</li>  <!-- Parent stuff -->
			}
			</ul>
	  </div>
	  <div class="col-md-9">
		<div class="container">
		<h3>Recommended Recipes:</h3>
			
			@for(( eachRecipe, index) <- recommendedRecipes.zipWithIndex) {
			
			@if((index % 3) == 0) {
				@if( index >= 3) {
				  </div>  <!-- <div class="row"> -->
				}
			 <div class="row">
			}
			
		<div class="col-md-4">
			@_displayRecipe( eachRecipe, index, user, cuisineColours)
		</div>  <!-- <div class="col-md-4"> -->
		
		<script>
		$('#toggle_@index').click(function() {
		  $('#ingredients_@index').slideToggle(function() {
		    // Should toggle chevron
		  });
		});
		</script>
	
			}
			
			</div>  <!-- <div class="container"> -->
	  </div>
	</div>
	</div>
}